<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teinproductions.tein.pitrainer" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNumberActivity"
            android:label="@string/title_activity_add_number" />
        <activity
            android:name=".NumbersActivity"
            android:label="@string/title_activity_numbers" >
        </activity>
    </application>

</manifest>
